.apresentacao{
    flex-direction: row;
}

.apresentacao--div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.apresentacao--div:first-child{
    width: 65%;
}

.apresentacao--div:last-child{
    width: 35%;
}

.apresentacao--textoPrincipal{
    font-size: 3rem;
    font-weight: bold;
}

.apresentacao--textoSecundario{
    padding: 15px 0;
    font-size: 1.5rem;
}

.apresentacao__lista{
    display: flex;
}

.apresentacao__lista--item{
    margin-right: 20px;
    list-style-type: none;
    cursor: pointer;
}

.apresentacao__lista--item a{
    font-weight: bold;
    text-decoration: none;
}

.apresentacao--imagem{
    align-self: flex-end;
    height: 500px;
    aspect-ratio: 3/4;
    border: #FFFDD0 2px solid;
    border-radius: 20px;
    /*background-image: url("../img/foto.jpeg");*/
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2xp black;
}