.contato{
    flex-direction: row;
    justify-content: space-between;
}

.contato--img{
    width: 35%;
    aspect-ratio: 3/4;
    background-image: url("../img/contato.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

.contato__formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.contato__formulario--info{
    display: flex;
    flex-direction: column;
}

.contato__formulario--titulo{
    align-self: flex-start;
    padding-bottom: 10px;
}

.contato__formulario--inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

/*.contato__formulario--input,
.contato__formulario--textarea,
.contato__formulario--submit{
    box-shadow: 0 0 10px #00000088;
}*/

.contato__formulario--input:focus,
.contato__formulario--textarea:focus,
.contato__formulario--submit:focus{
    outline: transparent;
    box-shadow: 0 2px #FFFDD0;
}

.contato__formulario--input, .contato__formulario--textarea{
    width: calc(100% - 1rem);
    height: 3rem;
    padding: .5rem .5rem 0;
    border: none;
    background-color: #FFFFFF24;
    color: #FFFDD0;
}

.contato__formulario--input::placeholder{
    color: transparent;
}

.contato__formulario--label{
    position: relative;
    left: .5rem;
    top: -2.1rem;
    color: #FFFDD0;
    pointer-events: none;
    transition: .5s;
}

.contato__formulario--input:focus + .contato__formulario--label,
.contato__formulario--input:not(:placeholder-shown) + .contato__formulario--label{
    font-size: .8rem;
    top: -3.3rem;
}

.contato__formulario--textarea{
    height: 7rem;
    resize: none;
}

.contato__formulario--textarea::placeholder{
    color: #FFFDD0;
}

.contato__formulario--input:focus +
.contato__formulario--label{
    color: #FFFDD0;
}

.contato__formulario--submit{
    height: 3rem;
    margin-top: 1.2rem;
    border: 2px solid #FFFDD0;
    background-color: #FFFDD0;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    .contato__formulario{
        width: 100%;
    }

    .contato__formulario--info{
        padding-bottom: 15px;
    }
}