:root{
    --slide_atual: 0;
}

.experiencia--botoes{
    height: 40px;
    font-size: 1.5rem;
    background-color: #0000003a;
    border: 2px solid #FFFDD0;
    border-radius: 10px;
    color: #FFFDD0;
    font-weight: bold;
    box-shadow: 0px 2px black;
    cursor: pointer;
}

.experiencia--botoes:disabled{
    border-color: grey;
    color: gray;
}

.experiencia__lista{
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 0 .5%;
    border: 2px solid #FFFDD0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000bf;
}

.experiencia__item{
    position: relative;
    left: var(--slide_atual);;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 24/9;
    background-color: #ffffff24;
    transition: 1s;
}

.experiencia__item--img{
    width: 70%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
}

.experiencia__item--dados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: .8rem;
}

.experiencia__item--titulo{
    height: auto;
    font-size: 2rem;
}

.experiencia__item--descricao{
    height: 40%;
    overflow-y: auto;
    text-align: center;
}

.experiencia__item--skill{
    width: 50px;
    aspect-ratio: 1/1;
    filter: invert(100%);
}

.experiencia__item--botoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.experiencia__item--botoes>*{
    width: 48.5%;
    height: 50px;
    background-color: #0000003a;
    border: 2px solid #FFFDD0;
    border-radius: 10px;
    color: #FFFDD0;
    font-weight: bold;
    box-shadow: 0px 2px black;
    cursor: pointer;
}

.experiencia__item--botoes>*:hover{
    transform: translate(0px, 2px);
    box-shadow: 0px 2px transparent;
}

mark{
    color: #FFFDD0;
    background-color: transparent;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .experiencia__lista{
        flex-direction: column;
        overflow: initial;
        border: none;
        box-shadow: 0px 0px 10px #00000000;
    }

    .experiencia__item{
        display: flex;
        flex-direction: column;
        width: calc(100% - 4px);
        margin-bottom: 20px;
        border: 2px solid #FFFDD0;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #000000bf;
    }

    .experiencia--botoes{
        display: none;
    }

    .experiencia__item--img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
    }

    .experiencia__item--dados{
        margin: .8rem .5rem;
    }

    .experiencia__item--titulo{
        height: auto;
        font-size: 1.5rem;
    }
    
    .experiencia__item--descricao{
        height: auto;
        margin: 8px 0;
    }

    .experiencia__item--skills{
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 701px) and (max-width: 991px) {
    .experiencia__item--img{
        width: 50%;
        aspect-ratio: 16/9;
        background-size: cover;
        background-position: center;
    }

    .experiencia__item--dados{
        margin: .8rem .5rem;
    }

    .experiencia__item--titulo{
        font-size: 1.5rem;
    }

    .experiencia__item--descricao{
        height: 60%;
    }

    .experiencia__item--skills{
        display: none;
    }
}
