.formacao--lista{
    display: flex;
    flex-wrap: wrap;
}

.formacao__lista--card{
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-bottom: 2rem;
    margin-right: 2%;
}

.formacao__lista--card:nth-child(3n){
    margin-right: 0;
}

.formacao__lista--img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(100% - 4px);
    aspect-ratio: 16/9;
    border: 2px solid white;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px black;
    transition: 1s;
}

.formacao__lista--titulo{
    padding: 8px 0;
}

.formacao--lista--certificado{
    display: none;
}

.mostrarCertificado{
    display: initial;
    width: 25px;
    padding: 8px 5px;
    filter: drop-shadow(1px 1px black);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .formacao__lista--card{
        width: 100%;
        margin-bottom: 2rem;
        margin-right: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
    .formacao--lista{
        justify-content: space-between;
    }

    .formacao__lista--card{
        width: 48%;
        margin-bottom: 2rem;
        margin-right: 0;
    }
}