.header{
    display: flex;
    align-items: center;
    width: 85%;
    height: 73px;
    padding: 0 7.5%;
    background: #00000035;
}

.header--nome{
    width: 30%;
    font-weight: bold;
}

#header--check{
    display: none;
}

.header__lista{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.header__lista--item{
    margin-right: 25px;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

.header__lista--item a{
    text-decoration: none;
}

.header__lista--item:hover{
    border-image: linear-gradient(to right, transparent, #FFFDD0, transparent) 1;
}

.header__lista--item:last-child{
    margin-right: 0;
}

.header span, header a{
    color: #FFFDD0;
}

@media screen and (max-width: 414px) {
    .header{
        height: auto;
        width: 95%;
        padding: 10px 2.5%;
        margin: auto;
        flex-wrap: wrap;
    }

    .header--nome{
        width: calc(100% - 50px);
    }

    .header__lista{
        display: none;
        transition: 1s;
    }

    #header--check:checked ~ .header__lista {
        display: flex;
        
    }

    .header--button{
        width: 50px; 
        aspect-ratio: 1/1; 
        background-image: url(../img/menu.svg); 
        background-position: center; 
        background-size: cover; 
    }

    .header__lista{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .header__lista--item{
        margin: 0;
        top: 60px;
    }

    .header__lista--item a{
        font-size: 2rem;
    }
}