.header{
    display: flex;
    align-items: center;
    width: 85%;
    height: 73px;
    padding: 0 7.5%;
    background: #00000035;
}

.header--nome{
    width: 30%;
    font-weight: bold;
}

.header__lista{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.header__lista--item{
    margin-right: 25px;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

.header__lista--item a{
    text-decoration: none;
}

.header__lista--item:hover{
    border-image: linear-gradient(to right, transparent, #FFFDD0, transparent) 1;
}

.header__lista--item:last-child{
    margin-right: 0;
}

.header span, header a{
    color: #FFFDD0;
}