.header{
    display: flex;
    align-items: center;
    width: 85%;
    height: 70px;
    padding: 0 7.5%;
    background-color: #F5F5F5;
}

.header--nome{
    width: 30%;
    font-weight: bold;
}

.header__lista{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.header__lista--item{
    margin-right: 25px;
    list-style-type: none;
    cursor: pointer;
}

.header__lista--item:hover{
    color: rgb(2, 49, 136);
}

.header__lista--item:last-child{
    margin-right: 0;
    font-weight: bold;
}