.sobre{
    padding-top: 200px;
    padding-bottom: 200px;
}

.sobre--titulo{
    align-self: flex-start;
}

.sobre--texto{
    width: 65%;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 480px) {
    .sobre{
        align-items: center;
    }

    .sobre--titulo{
        align-self: center;
    }

    .sobre--texto{
        text-align: center;
        width: 80%;
    }
}

@media screen and (min-width: 481px) and (max-width: 991px) {
    .sobre{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .sobre--texto{
        width: 90%;
    }
}