.sobre{
    padding: 200px 7.5%;
}

.sobre--titulo{
    align-self: flex-start;
}

.sobre--texto{
    width: 65%;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 414px) {
    .sobre{
        width: 95%;
        padding: 200px 2.5%;
        align-items: center;
    }

    .sobre--titulo{
        align-self: center;
    }

    .sobre--texto{
        text-align: center;
        width: 80%;
    }
}
